.custom_login_form_area .column{
    background: rgb(228, 226, 226);
    padding: 25px 15px 0px;
    border-radius: 5px;
    margin: 30px;
}
.custom_login_form_area
button[type="submit"]{
    background: rgba(0, 0, 0, 0.933);
    color: #fff;
}
.custom_login_form_area
button[type="submit"]:hover{
    background: rgba(27, 27, 27, 0.933);
}
.custom_login_form_area .title_area{
    margin-bottom: 10px;
}